* {margin:0;padding:0;outline: none;}


a {outline: none;}
a img {border:none}

textarea { resize: none;}

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


html {-webkit-text-size-adjust: 100%;} /* Disables scaling on landscape mobile */


body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
line-height: 1;
font-family: $josefin;
}


body img.gform_ajax_spinner {
    display: none!important;
}


header, section, nav, footer {
	display: block;
}



.inner_wrapper {
	width:1020px;
	margin:0 auto;
	padding:0px 35px;
}



a.book_now {
	background: $pinkdark;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $josefinsemibold;
	font-size:20px;
	padding:13px 20px 10px;
	display: inline-block;
	transition: all .2s ease-in-out;
	&:hover {
		background: $red;
	}
}