.section_one {
	margin-top:35px;
	overflow: hidden;
}

.col {
// 	float:left;
}

.col_left {
	width: 100%;
	max-width:550px;
	margin-left:auto;
	margin-right:auto;
}

.col_right {
	width:48%;
	padding-left:3%;
}

img.logo {
	margin-bottom:45px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	height:auto;
}

span.tagline {
	font-family: $josefinsemibold;
	color:$pinklight;
	font-size: 24px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	letter-spacing: 0.5px;
	margin-bottom:20px;
}

img.intro {
	max-width: 100%;
	width:100%;
	height:auto;
}



.form_wrapper {
	background: #fff;
	max-width:650px;
	margin-left:auto;
	margin-right:auto;
	margin-top: -128px;
// 	border-radius: 10px;
	padding:40px 4%;
	text-align: center;
	
	h1.learn_more {
		color:$grey;
		font-size: 29px;
		text-transform: none;
		display: block;
		font-family: $glosa;
	}
	a.call {
		color:$grey;
		text-decoration: none;
		font-family:$josefinsemibold;
		font-size:30px;
		margin-top:10px;
		display: block;
	}
	ul {
		list-style: none;
		margin-top:15px;
		li {
			width:100%;
			position: relative;
			margin-bottom:20px;
			label {
				display: none;
			}
			
			
			input,textarea {
				width:100%;
				border:none;
				font-size: 16px;
				padding:8px;
				font-family:$josefinsemibold;
				
				color:$grey;
				border-radius: 0;
				
			}
			input {
				border-bottom:1px #e7e7e7 solid;
			}
			textarea {
				height: 150px;
				border:1px #e7e7e7 solid;
				-webkit-appearance: none;
			}
		}
		li#field_1_7 {
			margin-top:-10px;
			margin-bottom:8px;

			.gfield_description {
				font-size:17px;
				color:#7a868c;

			}
		}
		li.gchoice_1_7_1 {
			text-align: left;
			overflow:hidden;
			input#choice_1_7_1 {
				width:30px;
				float:left;
				background:#fff;
			}
			label {
				float:left;
				width:calc(100% - 30px);
				color:#7a868c;
				font-size: 17px;
				display: block;
			}
		}
		li#field_1_8 {
			display: none;
		}
	}
	#gform_submit_button_1 {
		background:$pinklight;
		border:none;
		color:#fff;
		font-size:24px;
		text-transform: uppercase;
		font-family:$josefinsemibold;
		cursor: pointer;
		width:100%;
		margin-bottom:0px;
		line-height: 1;
		padding:21px 5px 17px;
		transition: all .2s ease-in-out;
		border-radius: 0;
		-webkit-appearance: none;
		&:hover {
			background:$pinkdark;
		}
	}
	.validation_error {
		display: none;
		
	}
	.gfield_description, .validation_message {
		font-size: 13px;
		left: 8px;
    position: absolute;
   
	}
	.gfield_description {
		  top: 40px;
	}
	.instruction {
		  top: 40px;
		  display: none;
	}
}


@media screen and (max-width: 1075px) {
	
	.section_one {
		.inner_wrapper {
			max-width:600px
		}
	}

	
	
	.col {
		float:none;
	}
	
	.col_left {
		width:100%;
	}

	.col_right {
		width:100%;
		padding-left:0%;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 570px) {
	
		
	
	
	span.tagline {
		max-width:300px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.form_wrapper {
		a.call {
			font-size:30px;
		}
	} 
	
	
} /* Media Query */

