.section_four {
	padding:80px 0;
	text-align: center;
	.inner_wrapper {
		overflow: hidden;
	}
	h1 {
			font-family: $glosa;
			color:$grey;
			font-style: normal;
			font-weight: 300;
			font-size:37px;
			margin:20px 0 0 0;
			display: block;
			line-height: 41px;
			&:after {
				content: "";
				width:100px;
				height:3px;
				background:$pinklight;
				display: block;
				margin:20px auto 35px;
			}
		}
		
}


.location {
	margin-top:65px;
	width:49%;
	
	&:first-of-type {
		float:left;
	}
	&:last-of-type {
		float:right;
	}
	.location_content {
		max-width:340px;
		margin-left: auto;
		margin-right: auto;
	}
	span, a.address, a.tel ,a.email, ul.hours {
		display: block;
		color:$grey;
		margin-bottom:25px;
		font-size: 19px;
		text-transform: uppercase;
		line-height: 23px;
		
	}
	ul.hours {
		list-style: none;
		li {
			margin-bottom:3px;
		}
	}
	a {
		text-decoration: none;
		transition: all .2s ease-in-out;
		&:hover {
			color:$pinklight;
		}
	}
	img {
		display: inline-block;
		margin-bottom: 30px;
		max-width: 100%;
		height:auto;
	}
	span.pink {
		color:$pinklight;
		font-size:21px;
	}
	a.book_now {
		font-size: 19px;
		padding: 13px 16px 8px;
		&:hover {
			color:#fff;
		}
	}
}



@media screen and (max-width: 1075px) {
	
	
	.section_four {
		padding:40px 0 70px;
		h1 {
/*
			max-width:200px;
			margin-left:auto;
			margin-right:auto;
*/
		}
	}
	
	
	.location {
		width:100%;
		margin-top:60px;
		&:first-of-type {
			float:none;
		}
		&:last-of-type {
			float:none;
		}
		.location_content {
			
		}
	}
	
	
} /* Media Query */

